<ul class="listaBusqueda">
    @foreach (ResultadoBusqueda item in ViewBag.ListaResultados)
    {
        <li>
            <a href='@{
                if(item.Tipo == "A")
                    @Url.Action("InfoJugador", "Home", new { IdJugador = item.IdRegistro })
                else
                    @Url.Action("InfoEquipo", "Home", new { IdEquipo = item.IdRegistro })
            }'>
                <div class="filaBusqueda">
                    <p>@item.Nombre</p>
                    <img src="@item.Imagen" alt="">
                    <img src="@item.ImagenPais" alt="">
                </div>
            </a>
        </li>
    }
</ul>


