<h1>@ViewBag.Jugador.Nombre</h1>
<img src="@ViewBag.Jugador.Imagen" alt="">
<h1>@ViewBag.Jugador.Edad</h1>
<h1>@ViewBag.Jugador.Descripcion</h1>
<h1>@ViewBag.Jugador.Posicion</h1>
<h1>@ViewBag.Jugador.PartidosJugados</h1>
<h1>@ViewBag.Jugador.Goles</h1>
<h1>@ViewBag.Jugador.Likes</h1>
<h1>@ViewBag.Jugador.Dislikes</h1>
