
<h1>@ViewBag.Jugador.Nombre</h1>
<img src="@ViewBag.Jugador.ImagenJugador" alt="">
<img src="@ViewBag.Jugador.ImEquipo" alt="">
<h1>Edad: @ViewBag.Jugador.Edad</h1>
<h1>Posicion: @ViewBag.Jugador.Posicion</h1>

<h1>Descripcion: @ViewBag.Jugador.Descripcion</h1>
<h1>Partidos jugados: @ViewBag.Jugador.PartidosJugados</h1>
<h1>Goles: @ViewBag.Jugador.Goles</h1>


<p>  @ViewBag.Jugador.ImPais</p>
<p>Pais: @ViewBag.Jugador.IdPais</p>
<p>EquipoActual: @ViewBag.Jugador.IdEquipoActual</p>
<p>@ViewBag.Jugador.ImEquipo</p>

<h1>Likes: @ViewBag.Jugador.Likes</h1>
<img src="@ViewBag.Jugador.ImEquipo" alt="">
<h1>Dislikes: @ViewBag.Jugador.Dislikes</h1>

<h2>Titulos:</h2>
@foreach (TituloXJugador item in ViewBag.TitulosJugador)
{
    <p>@item.Nombre</p>
     <img src="@item.Imagen" alt="">
}

<h1>Comentarios:</h1>
@foreach (Comentario item in ViewBag.ComentariosJugador)
{
    <p>@item.Contenido</p>
    <p>@item.Likes</p>

}

<a href='@Url.Action("Inicio", "Home")'>Volver al inicio</a>
<h1>Agregar Comentario</h1>
<form action='@Url.Action("AgregarComentario","Home")' >
    <input type="hidden" name="IdJuagdor" value="@ViewBag.Jugador.IdJugador" >
    <input type="hidden" name="IdUsuario" value="">
    <input class="controls" autocomplete="off" type="text" name="Contenido" required placeholder="Ingrese el comentario">
    <input class="botons" type="submit" value="Cargar" >

    <p id="errorIngreso"></p>
</form>
