
<h1>@ViewBag.Jugador.Nombre</h1>
<img src="@ViewBag.Jugador.ImagenJugador" alt="">
<h1>Edad: @ViewBag.Jugador.Edad</h1>
<h1>@ViewBag.Jugador.Descripcion</h1>
<h1>Posicion: @ViewBag.Jugador.Posicion</h1>
<h1>Partidos jugados: @ViewBag.Jugador.PartidosJugados</h1>
<h1>Goles: @ViewBag.Jugador.Goles</h1>
<h1>Likes: @ViewBag.Jugador.Likes</h1>
<img src="@ViewBag.Jugador.ImEquipo" alt="">
<h1>Dislikes: @ViewBag.Jugador.Dislikes</h1>
