<div class="conteiner-fluid">
  <div class="row">
    @foreach (Jugador item in ViewBag.PrimerosJugadores)
    {
      <div class="col-md-3 col-12">
        <div class="card" style="width: 18rem;">
          <img src=@item.ImagenJugador>
          <div class="card-body">
            <h5 class="card-title">@item.Nombre</h5>
<<<<<<< HEAD
            <a href='@Url.Action("DarLike","Home", new{IdJugador=@item.IdJugador})'><img src="https://www.nicepng.com/png/full/778-7786050_download-instagram-like-icon-png.png" width="10%">@item.Likes</a>
=======
            <p class="card-text">@item.Descripcion</p>
            <button onclick=ActualizarLikes(@item.IdJugador)><img src="https://www.nicepng.com/png/full/778-7786050_download-instagram-like-icon-png.png" width="10%"></button>
            <h4 id="CantLikes_@item.IdJugador">@item.Likes</h4>
>>>>>>> e7e4827b59756f9c29f3dcd4d223477055c98518
            <a href='@Url.Action("InfoJugador", new{IdJugador=@item.IdJugador})' class="btn btn-success">Ver Info</a>
          </div>
        </div>
        <br>
        <br>
      </div>
    }
  </div>
</div>
